body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

#landing-img{
    background-image: url('../images/landing-img.jpg');
    height: 100vh;
    width: 100vw;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    background-color: rgba(0, 0, 0, 0.1);
}
